[Unit]
Description = Start or Stop Motion depending on if you are home
After = network.target

[Service]
WorkingDirectory = /home/pi/motioneye-fritz-home
ExecStart = /home/pi/motioneye-fritz-home/fbhomerecognition.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
